In [7]:
import pandas as pd
import numpy as np
import researchpy as rp
import scipy.stats as stats
import scipy as sc

In [8]:
data= pd.read_csv('D:\\DSA\Python\\Case Study 4\\Sales_add.csv')

In [9]:
pip install researchpy

Requirement already satisfied: researchpy in c:\users\adrash\anaconda3\lib\site-packages (0.3.2)
Requirement already satisfied: pandas in c:\users\adrash\anaconda3\lib\site-packages (from researchpy) (1.2.4)
Requirement already satisfied: statsmodels in c:\users\adrash\anaconda3\lib\site-packages (from researchpy) (0.12.2)
Requirement already satisfied: numpy in c:\users\adrash\anaconda3\lib\site-packages (from researchpy) (1.20.1)
Requirement already satisfied: scipy in c:\users\adrash\anaconda3\lib\site-packages (from researchpy) (1.6.2)
Requirement already satisfied: patsy in c:\users\adrash\anaconda3\lib\site-packages (from researchpy) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\adrash\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\adrash\anaconda3\lib\site-packages (from pandas->researchpy) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\adrash\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->researchpy) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing

In [11]:
data.head(10)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735

In [12]:
data.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [13]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [14]:
#Null Hypothesis:H0:There is increase in sales after stepping into digital marketing
#Alternative Hypothesis:H1:There is no increase in sales after stepping into digital marketing

In [15]:
data_sales_before = data["Sales_before_digital_add(in $)"]
data_sales_before

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [16]:
data_sales_after = data["Sales_After_digital_add(in $)"]
data_sales_after

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [23]:
tval,pval = stats.ttest_ind(data_sales_before,data_sales_after)
tval

-12.995084451110877

In [18]:
pval

2.614368006904645e-16

In [27]:
#dof
data_sales_before.count()+data_sales_after.count()-2

42

In [29]:
tcriteria=stats.t.ppf(1-0.05,42)
tcriteria

1.6819523559426

In [33]:
if(tval>tcriteria and pvalue<0.05):
    print("Reject H0")
else:
    print("Failed to accept H0")

Failed to accept H0

In [37]:
rp.summary_cat(data[["Region", "Manager"]])

  Variable      Outcome  Count  Percent
0   Region   Region - A     10    45.45
1            Region - B      7    31.82
2            Region - C      5    22.73
3  Manager  Manager - A      9    40.91
4           Manager - B      7    31.82
5           Manager - C      6    27.27

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [40]:
crosstab = pd.crosstab(data['Region'],data['Manager'])
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [41]:
stats.chi2_contingency(crosstab)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [71]:
crosstab, test_results, expected = rp.crosstab(data["Region"], data["Manager"],
                                               test= "chi-square",
                                               expected_freqs= True,
                                               prop= "cell")
crosstab

               Manager
Manager    Manager - A Manager - B Manager - C     All
Region
Region - A       18.18       13.64       13.64   45.45
Region - B       18.18        4.55        9.09   31.82
Region - C        4.55       13.64        4.55   22.73
All              40.91       31.82       27.27  100.00

In [72]:
test_results

                Chi-square test  results
0  Pearson Chi-square ( 4.0) =    3.0506
1                    p-value =    0.5494
2                 Cramer's V =    0.2633